<h1>Trat</h1>

<div class="span-24">

<div class="span-6">
<%= render :partial => 'lines/new', :object => @line %>
<span id="audio" />
</div>

<div class="span-12">
<span class="span-12" id="chat">&nbsp;</span>
</div>

<div class="span-6 last">
<%= render :partial => 'lines/new', :object => @line %>
<span id="audio2" />
</div>

</div>

